@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;1,400;1,700&display=swap');


html { 
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../images/testtriangle.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }


body{
    background-color:transparent;
    font-family: 'Lora', serif;
    font-size: 1em;
    color: rgb(226, 212, 241);
    
}
h1{
    color: rgb(251, 250, 252);
    font-size: 3em;
    
}

h2 {
    color: rgb(226, 212, 241);
}

h4 {

    color: rgb(226, 212, 241);
    font-size: 1em;
}

p {
    font-size: 1em;
}

.nav-link:hover {
    color: rgba(255,255,255,1);
}

.navbar-brand {
    font-size: 1.5rem;
}
.bg-purple {
    background-color: rgb(38, 13, 80);
}

.homepageimages {
    max-height: 200px; 
    width: 100%; 
    object-fit: cover; 
    object-position: bottom;
}